<td><%= this.model.get('id') %></td>
<td><%= this.model.get('name') %></td>
<td><%= this.model.get('points') %></td>
<td><%= this.model.get('side') %></td>
<td><a href="#<%= this.model.get('id') %>">Show</a> <a href="#/<%= this.model.get('id') %>/edit">Edit</a> <a class='destroy'>Destroy</a> </td>